---
layout: default
---
<!DOCTYPE html>
<html lang="en">

  <head>
  

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Mastiff Systems is a small IT services company in Lincoln, Nebraska.">
  <meta name="author" content="Mastiff Systems">
  <link rel="canonical" href="http://localhost:4000/mastiff-systems/">

  <title>Mastiff Systems</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom fonts for this template -->
  <link href="assets/css/all.min.css" rel="stylesheet" type="text/css">
  
    
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
      <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    
      <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
      <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
    
  
  <!-- Custom styles for this theme -->
  <!--<link href="assets/css/agency.min.css" rel="stylesheet">-->
  <link href="assets/css/agency.css" rel="stylesheet" />
  <link href="assets/css/custom.css" rel="stylesheet" />

  <!-- Page container change top padding when nav shrinks -->
  
</head>

  <body id="page-top">
  
  <!-- Header -->
  
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">
          <p>Mastiff Systems: Where IT is intentionally tailored.</p>
        </div>
        <div class="intro-heading">
          <p>We believe that small business is the heart of America and it is vital to the growth and safety of our community. Our goal is to help your business be profitable and use technology as a tool rather than a burden.</p>
          <p>Technology should work for you and not get in your way. Therefore we work with whatever technology is right for your business, that may be a server onsite, managed support, or cloud services. It's what's best for you and there is no one size fits all solution.</p>
          <p>We will be your partner and not a particular technology. We will cheer you on as you grow while removing technology as an obstacle or frustration. We won't make you feel stupid if you have questions. Give us a call or contact us if you would like us to be part of your team.</p>
        </div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#contact">Let's work together!</a>
      </div>
    </div>
  </header>
  
  <!-- End Header -->

<!-- Latest Blog -->

<section class="page-section">
  <div class="container">
  <h2 class="section-heading text-uppercase">Latest Blog Posts</h2>
  <div class="container post-list">
    {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
    {% for post in sorted_posts limit:3 %}
      <article class="post-preview">
        <div class="post-image-1">
          {% if post.image %}
            <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
          {% endif %}
        </div>
        <h4 class="post-title">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h4>
        <div class="post-meta">
          {% if post.author %}
            <span class="post-author">by {{ post.author }}</span>
          {% endif %}
          <span class="post-date">{{ post.date | date_to_string }}</span>
        </div>
        <div class="post-excerpt">
          {{ post.excerpt | strip_html | truncatewords: 50 }}
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endfor %}
  </div>
  <br>
  <br>
  <!-- End Latest Blog-->

<!-- Featured -->

  <div class="container">
    <div class="container featured-post">
        <div class="featured-img">
        <img src="assets/img/portfolio/vmwareprox.jpg" width="400" height="400" /></div>
        <div class="featured-title">
        <h4 class="featured-title">Featured</h4>
        <h3>Break Free from VMware: Seamless Migration to Proxmox</h3> <p class="featured-text">Are you tired of escalating costs and restrictive licensing with VMware? Ready to break free from the insanity of Broadcom? We love VMware but their owners have ruined our trust in the product. So It's time to take back control of your virtualization environment. Our expert VMware to Proxmox migration service offers a path to freedom, flexibility, and significant cost savings.</p>
        <div><a class="btn btn-primary btn-xl js-scroll-trigger" href="blog/index.html">Check Out Our Latest Posts</a></div></div></div></div>
    </div></div>
      </div>
    </div>
  </div>
</section>

<!-- End Featured -->

<!-- Portfolio Grid -->

<section class="page-section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase"><p>Services</p>
</h2>
      </div>
    </div>
    <div class="row">
	
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/1-IT Services for Small Business.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>IT Services for Small Business</h4>
          <p class="text-muted"></p>
        </div>
      </div>
	
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p2">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/2-Medical IT Services.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Medical IT Services</h4>
          <p class="text-muted"></p>
        </div>
      </div>
	
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p3">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/3-Security Audits.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Security Audits</h4>
          <p class="text-muted"></p>
        </div>
      </div>
	
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p4">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/4-Vmware, Vsan, NSX and Migration Services.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Vmware, Vsan, NSX and Migration Services</h4>
          <p class="text-muted"></p>
        </div>
      </div>
	
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p5">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/5-Active Directory, Entra.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Active Directory, Entra</h4>
          <p class="text-muted"></p>
        </div>
      </div>
	
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p6">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/6-Open Dental Planning.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Open Dental Planning</h4>
          <p class="text-muted"></p>
        </div>
      </div>
	
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p7">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/7-Azure and Cloud.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Azure and Cloud</h4>
          <p class="text-muted"></p>
        </div>
      </div>
	
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p8">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/8-Eaglesoft and Dentrix.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Eaglesoft and Dentrix</h4>
          <p class="text-muted"></p>
        </div>
      </div>
	
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p9">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/9-Proxmox, Proxmox Backup.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Proxmox, Proxmox Backup</h4>
          <p class="text-muted"></p>
        </div>
      </div>
	
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p10">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/10-Microsoft SQL, Mysql and Maria DB Database Design.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Microsoft SQL, Mysql and Maria DB Database Design</h4>
          <p class="text-muted"></p>
        </div>
      </div>
	
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p11">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/11-Dental Imaging, Dexis, Apteryx.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Dental Imaging, Dexis, Apteryx</h4>
          <p class="text-muted"></p>
        </div>
      </div>
	
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p12">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/12-Hyper-V.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Hyper-V</h4>
          <p class="text-muted"></p>
        </div>
      </div>
	
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p13">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/13-Notion Consulting.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Notion Consulting</h4>
          <p class="text-muted"></p>
        </div>
      </div>
	
    </div>
  </div>
</section>

<!-- Portfolio Modals -->


<div
  class="portfolio-modal modal fade"
  id="p1"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">IT Services for Small Business</h2>
              <p class="item-intro text-muted"></p>
              <img
                class="img-fluid d-block mx-auto"
                src=""
                alt=""
              />
              <p><p>Empower your small business with customized IT solutions designed to meet your unique needs. Our services include reliable network setup, efficient system management, cloud integration, and ongoing technical support. We focus on streamlining your operations, enhancing productivity, and ensuring security, all while scaling to fit your growth. Whether you’re looking to optimize existing systems or implement new technologies, our expert team is here to help your business thrive in a competitive market.</p>

</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div
  class="portfolio-modal modal fade"
  id="p2"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Medical IT Services</h2>
              <p class="item-intro text-muted"></p>
              <img
                class="img-fluid d-block mx-auto"
                src=""
                alt=""
              />
              <p><p>Empower your healthcare practice with our specialized Medical IT Services. We offer tailored solutions designed to enhance the efficiency, security, and reliability of your medical IT infrastructure. From electronic health records (EHR) management and compliance with HIPAA regulations to seamless integration of dental and medical software like Eaglesoft, Dentrix, and Open Dental, we ensure your systems run smoothly and securely. Our services also include cloud solutions, data backup, and disaster recovery to protect critical patient information. Trust us to keep your practice running at its best, so you can focus on patient care.</p>

</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div
  class="portfolio-modal modal fade"
  id="p3"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Security Audits</h2>
              <p class="item-intro text-muted"></p>
              <img
                class="img-fluid d-block mx-auto"
                src=""
                alt=""
              />
              <p><p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>

<ul class="list-inline">
  <li>Date: January 2017</li>
  <li>Client: Finish</li>
  <li>Category: Identity</li>
</ul>

</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div
  class="portfolio-modal modal fade"
  id="p4"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Vmware, Vsan, NSX and Migration Services</h2>
              <p class="item-intro text-muted"></p>
              <img
                class="img-fluid d-block mx-auto"
                src=""
                alt=""
              />
              <p><p>Maximize your IT infrastructure’s performance and efficiency with our VMware, vSAN, NSX, and migration services. We specialize in deploying and managing virtual environments, ensuring seamless integration and optimal resource utilization. Our team provides end-to-end migration services, whether you’re moving away from VMware, consolidating data centers, or upgrading your current setup. With expertise in vSAN for scalable storage and NSX for advanced network virtualization, we help you create a resilient, high-performance environment that supports your business’s growth and innovation.</p>

<h4>Break Free from VMware: Seamless Migration to Proxmox</h4>
<p><img src="assets/img/portfolio/vmwareprox.jpg" alt="AI generated photo of breaking free from VMware" width="400" height="400" /></p>

<p>
Are you tired of escalating costs and restrictive licensing with VMware? Ready to break free from the insanity of Broadcom? We love VMware but their owners have ruined our trust in the product. So It's time to take back control of your virtualization environment. Our expert VMware to Proxmox migration service offers a path to freedom, flexibility, and significant cost savings.

<p>**Why Choose Our Migration Service?**</p>

<p>
<ul class="list">
<li>Experience Matters: With over 10 years in VMware administration, we understand the intricacies of your current setup and how to transition smoothly.</li>

<li>Comprehensive Solutions: We offer migration paths for all VMware components, including vMotion, vSAN, NSX, and clustering.</li>

<li>Open Source Advantage: Proxmox offers enterprise-level features without the enterprise-level price tag or subscription traps.</li>

<li>Cost-Effective: Say goodbye to ever-increasing subscription fees and hello to predictable, manageable costs.</li>

<li>Future-Proof: Proxmox's open-source nature means you're not at the mercy of corporate acquisitions or shifting business models.</li>

<li>Tailored Solutions: We customize each migration to fit your specific business needs and infrastructure requirements.</li>

<li>Minimal Disruption: Our carefully planned migration process ensures minimal downtime for your critical systems.</li>

<li>Ongoing Support: We don't just migrate and leave. We're here to ensure your new Proxmox environment runs smoothly.</li>
</ul>
<p>

What We Offer:

Comprehensive Assessment: We evaluate your current VMware environment and design a migration strategy.

Custom Migration Plan: We create a step-by-step plan tailored to your specific needs and timeline.

Full-Stack Migration: Our solutions cover all aspects of your VMware infrastructure:

vMotion equivalent for live migration

Distributed storage solutions to replace vSAN

Network virtualization alternatives for NSX

Robust clustering capabilities

Seamless Execution: Our team handles the entire migration process with minimal impact on your operations.

Knowledge Transfer: We train your team on Proxmox management and best practices.

Post-Migration Support: We provide ongoing support to ensure a smooth transition and optimal performance.

Don't let your virtualization platform dictate your business. Take the first step towards independence and cost-effectiveness today.

Contact us for a free consultation and discover how we can help you break free from VMware and embrace the future of virtualization with Proxmox. </p>
</p></p>
</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div
  class="portfolio-modal modal fade"
  id="p5"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Active Directory, Entra</h2>
              <p class="item-intro text-muted"></p>
              <img
                class="img-fluid d-block mx-auto"
                src=""
                alt=""
              />
              <p><p>Optimize your business operations with our expert Active Directory and Entra services. We specialize in the design, implementation, and management of secure, scalable identity and access management solutions. Whether you’re setting up a new directory structure, migrating to Entra ID (formerly Azure AD), or managing hybrid environments, our team ensures seamless integration with your existing systems. Enhance security, streamline user management, and improve productivity with our tailored solutions, keeping your organization’s identity infrastructure robust and resilient.</p>

</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div
  class="portfolio-modal modal fade"
  id="p6"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Open Dental Planning</h2>
              <p class="item-intro text-muted"></p>
              <img
                class="img-fluid d-block mx-auto"
                src=""
                alt=""
              />
              <p><p>We assist with the full lifecycle of Open Dental software implementation, from initial planning and setup to customization and ongoing support. Our team works closely with you to design a system that meets your practice’s specific needs, ensuring seamless integration with your existing infrastructure.</p>
</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div
  class="portfolio-modal modal fade"
  id="p7"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Azure and Cloud</h2>
              <p class="item-intro text-muted"></p>
              <img
                class="img-fluid d-block mx-auto"
                src=""
                alt=""
              />
              <p><p>We offer expert guidance in designing, deploying, and managing scalable cloud solutions tailored to your organization’s needs. Whether you’re migrating existing systems to Azure, optimizing your cloud infrastructure, or integrating cloud services with on-premises systems, our team ensures a smooth transition and continuous operation. Benefit from increased flexibility, enhanced security, and cost-efficiency with our Azure and multi-cloud solutions, empowering your business to thrive in the digital age.</p>

</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div
  class="portfolio-modal modal fade"
  id="p8"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Eaglesoft and Dentrix</h2>
              <p class="item-intro text-muted"></p>
              <img
                class="img-fluid d-block mx-auto"
                src=""
                alt=""
              />
              <p><p>We provide comprehensive technical support and maintenance services for the two leading dental practice management software solutions: Patterson's Eaglesoft and Henry Schein's Dentrix. Our specialized support ensures your dental practice maintains optimal operational efficiency and data security.</p>

</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div
  class="portfolio-modal modal fade"
  id="p9"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Proxmox, Proxmox Backup</h2>
              <p class="item-intro text-muted"></p>
              <img
                class="img-fluid d-block mx-auto"
                src=""
                alt=""
              />
              <p><p>We provide enterprise-grade support for Proxmox Virtual Environment (Proxmox VE) and Proxmox Backup Server (PBS), delivering comprehensive virtualization, containerization, and backup solutions for business-critical infrastructure.</p>

</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div
  class="portfolio-modal modal fade"
  id="p10"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Microsoft SQL, Mysql and Maria DB Database Design</h2>
              <p class="item-intro text-muted"></p>
              <img
                class="img-fluid d-block mx-auto"
                src=""
                alt=""
              />
              <p><p>We provide expert database design, implementation, and management services across major database platforms: Microsoft SQL Server, MySQL, and MariaDB. Our comprehensive services ensure optimal performance, security, and reliability for your business-critical data systems.</p>

</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div
  class="portfolio-modal modal fade"
  id="p11"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Dental Imaging, Dexis, Apteryx</h2>
              <p class="item-intro text-muted"></p>
              <img
                class="img-fluid d-block mx-auto"
                src=""
                alt=""
              />
              <p><p>We provide comprehensive technical support and maintenance services for dental imaging systems, specializing in Dexis and Apteryx imaging solutions. Our services ensure optimal image quality, system reliability, and seamless integration with your practice management software.
              </p>

</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div
  class="portfolio-modal modal fade"
  id="p12"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Hyper-V</h2>
              <p class="item-intro text-muted"></p>
              <img
                class="img-fluid d-block mx-auto"
                src=""
                alt=""
              />
              <p><p>We provide comprehensive support and management services for Microsoft Hyper-V environments, delivering enterprise-grade virtualization solutions that ensure high availability, optimal performance, and reliable disaster recovery capabilities.</p>

</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div
  class="portfolio-modal modal fade"
  id="p13"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Notion Consulting</h2>
              <p class="item-intro text-muted"></p>
              <img
                class="img-fluid d-block mx-auto"
                src=""
                alt=""
              />
              <p><p>Are your documents running wild? Spreadsheets multiplying faster than rabbits? It's time to call in the Notion experts!

                At Mastiff, we're passionate about turning your digital chaos into a well-oiled machine. We specialize in:</p>

<ul class="list-inline">
  <li>Date: October 2019</li>
  <li>Client: Window</li>
  <li>Category: Photography</li>
</ul>

</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- End Portfolio Modals -->

<!-- Team -->

<section class="page-section" id="team">
<div class="container">
  <div class="row">
	<div class="col-lg-12 text-center">
	  <h2 class="section-heading text-uppercase">OUR AMAZING TEAM</h2>
	  <h3 class="section-subheading">We will be a partner to you and not a particular technology. We will cheer you on as you grow while removing technology as an obstacle or frustration. We won’t make you feel stupid if you have questions. Give us a call or contact us if you would like us to be part of your team.</h3>
	</div>
  </div>
  <div class="row d-flex justify-content-center">
  
	<div class="col-sm-4">
	  <div class="team-member">
		<img class="mx-auto rounded-circle" src="assets/img/team/Chris-avatar.png" alt="">
		<h4>
      <a href="{{ site.baseurl }}/authors/Chris" class="author-name">Chris Scheidies</a>
    </h4>
		<p class="text-muted">Owner/IT Expert</p>
	  </div>
	</div>
  
	<div class="col-sm-4">
	  <div class="team-member">
		<img class="mx-auto rounded-circle" src="assets/img/team/Lai-avatar.png" alt="">
		<h4>
      <a href="{{ site.baseurl }}/authors/Lai" class="author-name">Laisim Ollagangi</a>
    </h4>
		<p class="text-muted">Administrative Assistant</p>
	  </div>
	</div>
  
	<div class="col-sm-4">
	  <div class="team-member">
		<img class="mx-auto rounded-circle" src="assets/img/team/Norris-avatar.png" alt="">
		<h4>
      <a href="{{ site.baseurl }}/authors/Norris" class="author-name">Norris Vargas</a>
    </h4>
		<p class="text-muted">Technical Server Administrator</p>
	  </div>
	</div>
</section>

<!-- End Team -->

<!-- Contact -->

<section class="page-section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase text">
          <p>Contact Us</p>
</h2>
        <h3 class="section-subheading text-light">Ready to elevate your business with tailored IT solutions? We’re here to help! Reach out to us to discuss your needs, explore how we can assist you, and take the first step towards a more efficient, secure, and effective IT infrastructure. Contact us today, and let’s build a solution that’s right for you.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form id="contactForm"
          action="https://formspree.io/f/mlderqre"
          novalidate="novalidate" method="POST">
          <!--name="sentMessage"-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input name="name" class="form-control" id="name" type="text"
                  placeholder="Name*"
                  required="required" data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="_replyto" class="form-control" id="email" type="email"
                  placeholder="Email*"
                  required="required" data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="phone" class="form-control" id="phone" type="tel"
                  placeholder="Phone Number"
                  required="required" data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="address" class="form-control" id="address" type="text"
                  placeholder="Business Location"
                  required="required" data-validation-required-message="Please enter your address.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea name="message" class="form-control" id="message"
                  placeholder="Message*"
                  required="required" data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <input type="hidden" name="_subject" id="email-subject"
              value="Contact Form Submission">
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase"
                type="submit">Send Message</button>
            </div>
            <input type="text" name="_gotcha" style="display:none">
            <input type="hidden" name="_next" value="#" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- End Contact -->

	  <!-- Bootstrap core JavaScript -->
	  <script src="assets/js/jquery.min.js"></script>
	  <script src="assets/js/bootstrap.bundle.min.js"></script>

	  <!-- Plugin JavaScript -->
	  <script src="assets/js/jquery.easing.min.js"></script>

	  <!-- Contact form JavaScript -->
	  <script src="assets/js/jqBootstrapValidation.js"></script>
	  <script src="assets/js/contact_me.js"></script>

	  <!-- Custom scripts for this template -->
	  <script src="assets/js/agency.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var t = performance.timing;
        var loadTime = (t.loadEventEnd - t.responseEnd) / 1000;
        document.getElementById('render-time').innerText = loadTime.toFixed(2) + ' seconds';
      });
    </script>
  </body>
</html>