<footer class="footer" id="footer">
  <div class="container">
    <div class="row">
      <!-- Copyright and Logo Section -->
      <div class="col-md-4">
        <p><a href="{{ site.baseurl }}/legal/" class="author-name">Privacy Policy</a></p>
        <a href="{{ site.baseurl }}/tech/"><img src="{{ site.baseurl }}/assets/img/clients/logo.png" alt="Company Logo" width="30">
        </a>
        </div>

      <!-- Privacy Policy and Creative Commons -->
      <div class="col-md-4 text-center">
        <p><a href="{{ site.baseurl }}/fb/" class="author-name">Facebook Free Social Media Statement</a></p>
        <a href="https://network.creativecommons.org/">
          <img src="{{ site.baseurl }}/assets/img/icons/cc.png" alt="Creative Commons Logo" height="31"/>
        </a>
        <p><a href="{{ site.baseurl }}/version/" class="author-name">{{ site.version }}</a></p>
      </div>

      <!-- Total Size of Site and Render Time -->
      <div class="col-md-4 text-right">
        <p>
          Total Size of Site: 
          {{ site.total_size | divided_by: 1048576.0 | round: 2 }} MB
        </p>
        <p id="footer-render-time">Render Time: Loading...</p>
      </div>
    </div>
  </div>
</footer>