<footer class="footer" id="footer" style="background-color: white">
  <div class="container">
    
    <div class="row align-items-center">
      <div class="col-md-4">
        <span class="copyright"
          >Copyright &copy; Mastiff Systems 2024</span
        >
      </div>

    <div>
      <img src="{{ site.baseurl }}/assets/img/clients/logoname1.png" 
      width=""
      height="60" 
      <a href="index.html"></a>
    </div>

      <!-- Legal -->
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="legal"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-4 copyright">
      <p>Total Size of Site: {{ site.total_size | divided_by: 1024 | divided_by: 1024 }} MB</p>
    </div>

      <div class="col-md-4 copyright">
      <p>Render Time: <span id="render-time"></span></p>
      </div>

    </div>
    
  </div>
</footer>