---
layout: default
title: Tools
---
<div class="tools-index">
  <h1 class="page-heading">Tools</h1>

  <div class="tool-list">
    {% for tool in site.tools %}
    <article class="tools-preview">
      <div class="tools-image">
        {% if tool.image %}
          <img src="{{ site.baseurl }}{{ tools.image }}" alt="{{ tools.title }}">
        {% endif %}
      </div>
      <h2 class="tool-title">
        <a href="{{ site.baseurl }}{{ tools.url }}">{{ tools.title }}</a>
      </h2>
      <div class="tools-excerpt">
        {{ tools.excerpt | strip_html | truncatewords: 50 }}
      </div>
    </article>
    {% endfor %}
  </div>
</div>


